@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #013364;
    border-radius: 6px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

path {
    pointer-events: all;
}

path:hover {
    opacity: .5;
    cursor: pointer;
}

.semi {
    width: 200px;
    height: 100px; /* as the half of the width */
    background-color: blue;
    border-top-left-radius: 110px;  /* 100px of height + 10px of border */
    border-top-right-radius: 110px; /* 100px of height + 10px of border */
    border: 70px solid gray;
    border-bottom: 0;
}

.bgwhite {
    background-color: #f9f9f9;
}

.bgred {
    background-color: #d30b0d;
}

.bgnavy {
    background-color: #013364;
}

.bgblue {
    background-color: #428bca;
}

.bggrey {
    background-color: #cbcaca;
}

.bglightblue {
    background-color: #d0efff;
}

.bgdarkerblue {
    background-color: #428bdc;
}

.SocialIcon{
    font-size: 48px;
  }
  
  @media only screen and (max-width: 400px) {
    .SocialIcon {
      font-size: 24px;
    }
  }

  @media only screen and (min-width: 400px) {
    .SocialIcon {
      font-size: 30px;
    }
  }

  @media only screen and (min-width: 600px) {
    .SocialIcon {
      font-size: 48px;
    }
  }