@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --border-radius: 8px;
  --speed: 500ms;
  --navbar-height: 80px;
}

body {
  background-color: #f9f9f9;
}

.light-blue {
  background-color: rgb(148 163 184)
}

.navitem:hover {
  color: #d30b0d;
}

.navt {
  height: var(--navbar-height);
}
