@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --border-radius: 8px;
  --speed: 500ms;
  --navbar-height: 96px;
}

body {
  background-color: rgb(148 163 184);
}

.light-blue {
  background-color: rgb(148 163 184)
}

.navitem:hover {
  color: #7A6EF5;
}

.navt {
  height: var(--navbar-height);
}
